/*
    * GLOBAL RESETS
*/

/* Project defaults. */
* {
    /* Set default font for all elements. */
    font-family: 'JetBrains Mono', monospace;
    /* Default text color. */
    color: #333;
    /* No extra decorations needed. */
    text-decoration: none;
    list-style-type: none;

    /* Reset margins and paddings. */
    margin: 0;
    padding: 0;

    /* Use border-box as the box model. */
    box-sizing: border-box;
}

/* Global reset for all images to take 100% of their container width. */
img {
    width: 100%;
}

/*
    * GLOBAL CONTAINER
*/

.container {
    /* Maximum page width for large displays. */
    max-width: 1100px;
    width: 90%;

    /* Center page content. */
    margin: 0 auto;
}

/*
    * MAIN HEADER
*/

#main-header {
    /* Flex items with center alignment. */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Provide head space. */
    margin: 2rem 0;
}

#branding {
    /* Flex items with center alignment. */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#branding img {
    /* Set logo width. */
    width: 75px;
}

#branding a {
    /* Gap between logo and text. */
    margin-left: 1rem;
}

/*
    * MAIN NAVBAR
*/

#main-navbar ul {
    /* Flex items with center alignment. */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-navbar li {
    /* Gap between the links. */
    margin-left: 1rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    /*
        * HEADER
    */
    #main-header {
        /* Switch to column mode on small screens. */
        flex-direction: column;
    }
}
