/* * CALL TO ACTION BUTTON */

.call_to_action {
    /* Style call to action button. */
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: #e34234;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px #333;
}

.call_to_action:hover {
    /* Style hover animation for call to action button. */
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    background: #e48b83;
    cursor: pointer;
}
