/*
    =============
    * BASE STYLES
    =============
*/

/* * GLOBAL RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * FONT SETTINGS */
body {
    font-family: 'JetBrains Mono', sans-serif;
    color: #333;
}

/* * GLOBAL CONTAINER */
#global_container {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
}

/* * MAIN HEADER */

#main_header {
    /* Center header elements. */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

#main_branding {
    /* Center logo and name. */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_branding a {
    /* Change link styles. */
    color: #333;
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: 700;
}

#main_branding img {
    /* Set logo width. */
    width: 64px;
    margin-right: 1rem;
}

#main_navbar ul {
    /* Flex navbar links. */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main_navbar li {
    /* Style list items with animations. */
    margin-left: 1rem;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

#main_navbar a {
    /* Style navigation links. */
    color: #333;
    font-weight: 700;
    text-decoration: none;
}

#main_navbar li:hover {
    /* Navigation link hover animation. */
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

#main_navbar li a:hover {
    color: #555;
}

/* * TABLET VIEW */
@media (max-width: 768px) {
    #main_header {
        /* Column layout for tablet view. */
        flex-direction: column;
    }

    #main_branding {
        /* Space out branding and navigation. */
        margin-bottom: 1rem;
    }
}

#main_footer {
    /* Center align footer. */
    text-align: center;
    padding: 2rem;
}

#main_footer a {
    /* Style footer text. */
    font-weight: 700;
    text-decoration: none;
    color: #333;
}

/* * SOCIAL LINKS SECTION */

#social_links_section {
    /* Space out social links section. */
    margin: 4rem;
}

#social_links_section .social_links {
    /* Center links. */
    display: flex;
    list-style: none;
    justify-content: center;
}

#social_links_section .social_links li a > svg {
    font-size: 64px;
}

#social_links_section .social_links li {
    /* Space out links. */
    margin: 0 2rem;
}

#social_links_section .social_links li a {
    /* Style link icons. */
    display: inline-block;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
}

#social_links_section .social_links li a:hover {
    /* Link icons hover animation. */
    color: #555;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    #social_links_section .social_links li a > svg {
        font-size: 32px;
    }
}
